<!DOCTYPE html>
<html>
  <head>
    <title>サンプルアプリ</title>
    <%# 以下を追加 %>
    <meta name="robots" content="noindex">
    <%# 以上を追加 %>

    <%# 略 %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
